* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --bright-green: #5AFF15;
    --kelly-green: #3EC300;
    --bleu-de-france: #1789fc;
    --chefchaouen-blue: #3f8efc;
    --slate-blue: #7067CF;
    --tropical-indigo: #7F7EFF;
    --mikado-yellow: #ffc518;

    --white-smoke: #f2f2f2;
    --silver: #cccccc;
    --grey: #a5a5a5;
    --jet: #333333;
    --erie-black: #1f1f1f;
}

html {
    box-sizing: border-box;
    height: 100vh;
}

*, *::before, *::after {
    box-sizing: inherit;
}

::selection {
    background-color: var(--mikado-yellow);
}

.stars {
    position: absolute;
    top: 0;
    left: 20px;
}

.top {
    animation: flip 2s infinite step-end;
}

.bottom {
    animation: flip 2s infinite step-end reverse;
}
  
@keyframes flip {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

body {
    font-size: 14px;
    padding: 5vh 8vw;
    margin: 0;
    height: 100vh;
    background-image:
        repeating-linear-gradient(var(--white-smoke), var(--white-smoke) 2px, transparent 2px, transparent 1em),
        repeating-linear-gradient(90deg, var(--white-smoke), var(--white-smoke) 2px, transparent 2px, transparent 1em);
}

#heading {
    font-size: 42px;
    text-align: center;
}

.marquee-container {
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 25px white;
}

.marquee-text {
    white-space: nowrap;
    animation: scroll 50s infinite linear;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-200%);
    }
}

.light-text {
    color: var(--grey);
    font-weight: 300;
    margin: 0;
    padding: 0;
    text-align: center;
}

.box {
    background-color: var(--white-smoke);
    border: 2px solid var(--silver);
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

h3 {
    padding: 0 4px;
    margin: 12px 0;
}

.sub-box {
    background-color: white;
    border: 2px solid var(--silver);
    border-radius: 8px;
    padding: 16px;
    flex-grow: 1;
}

#container {
    display: flex;
    padding: 20px 0;
    justify-content: center;
    gap: 20px;
}

#left {
    height: 32em;
    box-shadow: 4px 6px 1px var(--silver);
}

#main {
    flex-grow: 1;
    min-width: 16em;
    height: 70vh;
    box-shadow: 0 6px 1px var(--silver);
}

#right {
    height: 16em;
    box-shadow: -4px 6px 1px var(--silver);
}

#character {
    position: absolute;
    top: 5px;
    left: -30px;
    z-index: 0;
}

.side {
    width: 16em;
}

#menu {
    padding: 0;
    text-align: center;
}

button {
    color: var(--white-smoke);
    background-color: var(--erie-black);
    box-shadow: 0 5px var(--jet);
    border: 2px solid var(--jet);
    border-radius: 8px;
    padding: 8px 16px;
    margin: 8px 0;
    width: 100%;
    font-weight: 700;
}

button:hover {
    color: var(--jet);
    background-color: var(--mikado-yellow);
}

button:active {
    box-shadow: 0 1px var(--jet);
    transform: translateY(4px);
}

#menu > li {
    list-style: none;
}

a {
    color: var(--mikado-yellow)
}

a::selection {
    color: white;
}
